<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <% include inc/admin_head.tpl %>
</head>
<body>
    <% include inc/bar.tpl %>

    <div class="wrap">
        <div class="w clear">

            <h2 class="ui-crumbs">
                发表文章
            </h2>


            <div class="main">
                <div class="main-inner">
                    <div class="center">
                        <form action="/admin/saveArticle" method="POST">
                            <ul class="mod-form">
                                <li>
                                    <label class="mod-form-label" for="J-title">标题：</label>
                                    <div class="mod-form-box">
                                        <input type="text" id="J-title" name="title" class="mod-form-title">
                                    </div>
                                </li>
                                <li>
                                    <label class="mod-form-label" for="J-list_id">分类：</label>
                                    <div class="mod-form-box">
                                        <select name="list_id" id="J-list_id">
                                            <option value="" selected>请选择分类</option>
                                            <% LIST.forEach(function(val){ %>
                                                <option value="<%=val.id%>"><%=val.name%></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <label class="mod-form-label" for="J-content">内容：</label>
                                    <div class="mod-form-box">
                                        <textarea id="J-content" name="content" class="mod-form-content"></textarea>
                                    </div>
                                </li>
                                <li>
                                    <input type="submit" value="发布">
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            
            <% include inc/sidebar.tpl %>
        </div>
    </div>

    <% include inc/footer.tpl %>
</body>
</html>