<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <% include inc/head.tpl %>
    <link rel="stylesheet" href="<%=C('res')('hljs/hljs.css')%>">
</head>
<body<%if(auto){%> class="auto"<% } %>>
    <% include inc/bar.tpl %>

    <div class="wrap">
        <div class="w clear">
            <div class="main">
                <div class="main-inner">
                    <% include inc/article_list_for.tpl %>

                    <div>
                        <a href="/all/2" style="line-height:30px;height:30px;text-align:center;font-size:14px;background-color:#fff;border:1px solid #ddd;display:block;margin-top:20px;">下一页再看看？</a>
                    </div>
                </div>
            </div>
            
            <% include inc/sidebar.tpl %>
        </div>
    </div>

    <% include inc/footer.tpl %>
    <script src="<%=C('res')('hljs/hljs.js')%>"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>