<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <% include inc/head.tpl %>
    <link rel="stylesheet" href="<%=C('res')('hljs/hljs.css')%>">
</head>
<body<%if(auto){%> class="auto"<% } %>>
    <% include inc/bar.tpl %>

    <div class="wrap">
        <div class="w clear">
            <div class="main">
                <div class="main-inner">
                    <% if(tags_data && tags_data.length){ %>
                        <div class="tags">
                            <ul class="tags-ul">
                                <% tags_data.forEach(function(val){ %>
                                    <li>
                                        <a href="#"><%=val.name%><i>（<%=val.count%>）</i></a>
                                    </li>
                                <% }); %>
                            </ul>
                        </div>
                    <% }else{ %>
                        <div class="ui-empty">没有标签</div>
                    <% } %>
                </div>
            </div>
            
            <% include inc/sidebar.tpl %>
        </div>
    </div>

    <% include inc/footer.tpl %>
</body>
</html>