<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>

    {% if description %}
        <meta name="description" content="{{ description }}" />
    {% endif %}
    <script src="{{ config.blog.get_static('ls.js') }}"></script>
    
    <%css('global')%>

    {% block head_end_before %}{% endblock %}
</head>
<body>

    {% block bar %} 
        {% include './inc_bar.html' %}
    {% endblock %}

    <div class="wrap">
        <div class="w clear">
            {% block location %}
                {%if location_data %}
                    <div class="ui-crumbs">
                        {{ location_data }}
                    </div>
                {% endif %}
            {% endblock %}
            <div class="main">
                <div class="main-inner">
                    {% block main_inner%}
                        {% include './main_inner.html' %}
                    {% endblock %}
                </div>
            </div>
            
            <div class="sidebar">
                <div class="sidebar-author sidebar-box clear">
                    <div class="fl">
                        <a href="/html/xiaowu.html">
                            <img src="/upload/month_1208/201208271431426663.jpg" alt="">
                        </a>
                    </div>
                    <div class="fr">
                        <h3>
                            <a href="/html/xiaowu.html">前端小武</a> &nbsp; [<a href="/html/xiaowu.html#anchor-%E8%81%94%E7%B3%BB%E6%88%91">联系我</a>]
                        </h3>
                        <p>
                            爱前端<br>爱生活
                        </p>
                    </div>
                </div>

                <div class="mt20 sidebar-search">
                    <form id="J-form" action="/index/search/" class="clear" autocomplete="off">
                        <label class="hide" for="J-key">搜索：</label>
                        <input type="text" name="key" placeholder="搜点什么呢？" value="{{ key }}" autocomplete="off" accesskey="s" class="fl sidebar-search-text" id="J-key">
                        <input class="sidebar-search-btn fr" type="submit" value="搜索">
                        <script>
                            (function(){
                                var form = document.getElementById('J-form'),
                                    text = document.getElementById('J-key');
                                form.onsubmit = function(){
                                    var key = text.value.replace(/(^\s*)|(\s*$)/, '');
                                    if(!key){
                                        text.focus();
                                    } else {
                                        location.href = '/search/'+ key +'/';
                                    }
                                    return false;
                                }
                            })();
                        </script>
                    </form>
                </div>

                {% block search_after %}
                {% endblock %}

                {% block new_article %}
                    {% if rand_tags_data and rand_tags_data.length %}
                        <div class="sidebar-box mt20">
                            <dl class="sidebar-links">
                                <dt>
                                    标签
                                </dt>
                                <dd>
                                    {% for item in rand_tags_data %}
                                        <a href="/tags/{{ item.url or item.id }}/">{{ item.name }}</a>
                                    {% endfor %}
                                </dd>
                            </dl>
                        </div>
                    {% endif %}
                {% endblock %}

                {% block search_hit %}
                    {% if search_hit_data and search_hit_data.length %}
                        <div class="sidebar-box mt20">
                            <dl class="sidebar-article">
                                <dt>
                                    搜索最多的词
                                </dt>
                                <dd>
                                    {% for item in search_hit_data %}
                                        <a href="/search/{{ item.name }}" data-hit="{{ item.hit }}">{{ item.name }}</a>
                                    {% endfor %}
                                </dd>
                            </dl>
                        </div>
                    {% endif %}
                {% endblock %}
                
                {% block links %}
                {% endblock %}
            </div>
        </div>
    </div>
    
    {% block footer %}
        <div class="footer">
            <div class="footer-inner">
                <div class="w">
                    <p>
                        <a href="/sitemap.html">网站地图</a> | <a href="/sitemap.xml">sitemap地图</a> | <a href="/rss.xml">rss订阅</a> | <a href="/html/xiaowu.html">前端小武</a>
                    </p>
                    <p>
                        &copy; 2011-2015 xuexb.com <a href="https://xuexb.com/">前端开发</a> - <a href="http://www.miitbeian.gov.cn/" target="_blank">冀ICP备15021942号-1</a>
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}
    
    {% block gotop%}
    <div id="J-goTop">
        <a href="#top">
            <i>返回顶部</i>
        </a>
    </div>
    {% endblock %}

    {% block js_before %}{% endblock %}
    {% block js %}{% endblock %}

    <div style="display:none;">
        <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9e2b145b1229bd71028c43933c167d30' type='text/javascript'%3E%3C/script%3E"));
    </script>
    </div>
</body>
</html>