<!DOCTYPE html>
<html lang="zh-CN" amp>
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    {% if options.keywords %}<meta name="keywords" content="{{ options.keywords }}">{% endif %}
    {% if options.description %}<meta name="description" content="{{ options.description }}">{% endif %}
    {% if options.favicon_url %}<link rel="icon" href="{{ options.favicon_url }}">{% endif %}
    {% if options.favicon %}<link rel="shortcut icon" href="{{ options.favicon }}" type="image/x-icon">{% endif %}
    
    <link amp-replace-css>

    <link rel="stylesheet" href="/static/amp/css/all.css" inline>
    {% block headers %}{% endblock %}
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
</head>
<body>
    {% block nav %}
        {% include './inc/nav.html' %}
    {% endblock %}
    <div class="main">
        {% block content %}{% endblock %}
    </div>

    {% block foot %}
        {% include './inc/foot.html' %}
    {% endblock %}

    {% block script %}{% endblock %}

    {% if env === 'production' %}
        {% include './inc/analytics.html' %}
    {% endif %}
</body>
</html>