<!DOCTYPE html>
<html lang="zh-CN" mip>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    {% if options.keywords %}<meta name="keywords" content="{{ options.keywords }}">{% endif %}
    {% if options.description %}<meta name="description" content="{{ options.description }}">{% endif %}
    {% if options.favicon_url %}<link rel="icon" href="{{ options.favicon_url }}">{% endif %}
    {% if options.favicon %}<link rel="shortcut icon" href="{{ options.favicon }}" type="image/x-icon">{% endif %}
    <link rel="stylesheet" type="text/css" href="https://mipcache.bdstatic.com/static/v1/mip.css" inline>
    <link rel="stylesheet" type="text/css" href="/static/mip/css/all.css" inline>
    {%- block headers %}{% endblock -%}
</head>
<body>
    {%- block nav %}
        {% include "./inc/nav.html" %}
    {% endblock -%}
    <div class="main">
        {%- block content %}{% endblock -%}
    </div>

    {%- block foot %}
        {% include "./inc/foot.html" %}
    {% endblock -%}
    <script src="//mipcache.bdstatic.com/static/v1/mip.js"></script>
    <script src="//mipcache.bdstatic.com/static/v1/mip-nav-slidedown/mip-nav-slidedown.js"></script>
    <script src="//mipcache.bdstatic.com/static/v1/mip-gototop/mip-gototop.js"></script>
    <script src="//mipcache.bdstatic.com/static/v1/mip-fixed/mip-fixed.js"></script>
    <script src="//mipcache.bdstatic.com/static/v1/mip-stats-baidu/mip-stats-baidu.js"></script>
    <mip-stats-baidu token="9e2b145b1229bd71028c43933c167d30"></mip-stats-baidu>
    {%- block script %}{% endblock -%}
</body>
</html>