<footer id="footer" class="inner">
  &copy; {{ currentYear }}&nbsp;-&nbsp; {{ options.title }}
  {% if options.miitbeian or options.mpsbeian %}
    {% if options.miitbeian %}
    &nbsp;-&nbsp;<a target="_blank" rel="nofollow" class="external beian" href="http://www.miitbeian.gov.cn/">{{ options.miitbeian }}</a>
    {% endif %}
    {% if options.mpsbeian %}
    &nbsp;-&nbsp;<a target="_blank" rel="nofollow" class="external beian" href="http://www.beian.gov.cn/">{{ options.mpsbeian }}</a>
    {% endif %}
  {%else%}
    &nbsp;-&nbsp;<a href="{{ mip_site_url }}/">{{ http.hostname }}</a>
  {% endif %}
  <br />
  Powered by&nbsp;<a target="_blank" href="https://thinkjs.org">ThinkJS</a>&nbsp;&amp;&nbsp;<a target="_blank" rel="nofollow" class="external" href="https://firekylin.org">FireKylin v0.15.6</a>
</footer>

<mip-fixed type="gototop">
    <mip-gototop></mip-gototop>
</mip-fixed>