<mip-fixed type="top">
<div class="mip-nav-wrapper">
    <mip-nav-slidedown data-id="bs-navbar" class="mip-element-sidebar container" data-showbrand="1" data-brandhref="{{ mip_site_url }}" data-brandname="{{ options.title }}">
        <nav id="bs-navbar" class="navbar-collapse collapse navbar navbar-static-top">
            <ul class="nav navbar-nav navbar-right">
                {% for nav in navigation %}
                    <li>
                        <mip-link href="{{ mip_site_url }}{{ nav.url }}" title="{{ nav.label }}">{{ nav.label }}</mip-link>
                    </li>
                {% endfor %}

                <li>
                    <mip-link href="{{ mip_site_url }}/search.html" title="搜索">搜索</mip-link>
                </li>

                <li class="navbar-wise-close">
                    <span id="navbar-wise-close-btn"></span>
                </li>
            </ul>
        </nav>
    </mip-nav-slidedown>
</div></mip-fixed>