/**
 * @file 前端小武博客移动端样式
 * @author xiaowu
 * @email fe.xiaowu@gmail.com
 */

/*列表*/
.xuexb-list-bar-search{
    top: 2.2rem; 
}
.xuexb-list .list-block{
    padding-top: 1rem; 
}
.xuexb-list .infinite-scroll-preloader {
  margin-top:-20px;
}
.xuexb-list .list-container a{
    display: block; 
    width: 100%; 
}


/*markdown*/
/*markdown*/
.markdown-body {
    overflow:hidden;
    font-family:"Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size:16px;
    line-height:1.6;
    word-wrap:break-word
}
.markdown-body a{color: #4183c4;}
.markdown-body>*:first-child {
    margin-top:0 !important
}
.markdown-body>*:last-child {
    margin-bottom:0 !important
}


.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    position:relative;
    margin-top:1em;
    margin-bottom:16px;
    font-weight:bold;
    line-height:1.4
}
.markdown-body h1 {
    padding-bottom:0.3em;
    font-size:2.25em;
    line-height:1.2;
    border-bottom:1px solid #eee
}
.markdown-body h2 {
    padding-bottom:0.3em;
    font-size:1.75em;
    line-height:1.225;
    border-bottom:1px solid #eee
}
.markdown-body h3 {
    font-size:1.5em;
    line-height:1.43
}
.markdown-body h4 {
    font-size:1.25em
}
.markdown-body h5 {
    font-size:1em
}
.markdown-body h6 {
    font-size:1em;
    color:#777
}
.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre {
    margin-left: 0; 
    margin-right: 0; 
    margin-top:0;
    margin-bottom:16px
}
.markdown-body hr {
    height:4px;
    padding:0;
    margin:16px 0;
    background-color:#e7e7e7;
    border:0 none
}
.markdown-body ul, .markdown-body ol {
    padding-left:2em
}

.markdown-body ul ul, .markdown-body ul ol, .markdown-body ol ol, .markdown-body ol ul {
    margin-top:0;
    margin-bottom:0
}
.markdown-body ul{list-style-type: disc;}
.markdown-body ol{list-style-type: decimal;}
.markdown-body li>p {
    margin-top:16px
}
.markdown-body dl {
    padding:0
}
.markdown-body dl dt {
    padding:0;
    margin-top:16px;
    font-size:1em;
    font-style:italic;
    font-weight:bold
}
.markdown-body dl dd {
    padding:0 16px;
    margin-bottom:16px
}
.markdown-body blockquote {
    padding:0 15px;
    color:#777;
    border-left:4px solid #ddd
}
.markdown-body blockquote>:first-child {
    margin-top:0
}
.markdown-body blockquote>:last-child {
    margin-bottom:0
}
.markdown-body table {
    display:block;
    width:100%;
    overflow:auto;
    word-break:normal;
    word-break:keep-all
}
.markdown-body table th {
    font-weight:bold
}
.markdown-body table th, .markdown-body table td {
    padding:6px 13px;
    border:1px solid #ddd
}
.markdown-body table tr {
    background-color:#fff;
    border-top:1px solid #ccc
}
.markdown-body table tr:nth-child(2n) {
    background-color:#f8f8f8
}
.markdown-body img {
    max-width:100%;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

.markdown-body code br, .markdown-body tt br {
    display:none
}
.markdown-body del code {
    text-decoration:inherit;
    vertical-align:text-top
}

.markdown-body pre{
    position: relative; 
    font-family: "Consolas","Liberation Mono",Courier,monospace;
    overflow: hidden; 
}
.markdown-body pre code{
    padding: 10px;
    position: relative;  
}
.markdown-body code {
    background:#DCDBDB;
    border-radius:5px;
    font-family:"Consolas", "Courier New", Courier, mono, serif;
    font-size: 13px; 
    margin:0 2px;
    padding:4px 5px;
    vertical-align:middle
}

.markdown-body pre code .hljs-lang-tips{
    color: #C5C3C3;
    font-size: 60px;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: .5;
    filter: alpha(opacity=50);
}
.markdown-body del{
    color: #999; 
}


/*

XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
  color: black;
  -webkit-text-size-adjust: none;
}

.hljs-comment {
  color: #006a00;
}

.hljs-keyword,
.hljs-literal,
.nginx .hljs-title {
  color: #aa0d91;
}
.method,
.hljs-list .hljs-title,
.hljs-tag .hljs-title,
.setting .hljs-value,
.hljs-winutils,
.tex .hljs-command,
.http .hljs-title,
.hljs-request,
.hljs-status,
.hljs-name {
  color: #008;
}

.hljs-envvar,
.tex .hljs-special {
  color: #660;
}

.hljs-string {
  color: #c41a16;
}
.hljs-tag .hljs-value,
.hljs-cdata,
.hljs-filter .hljs-argument,
.hljs-attr_selector,
.apache .hljs-cbracket,
.hljs-date,
.hljs-regexp {
  color: #080;
}

.hljs-sub .hljs-identifier,
.hljs-pi,
.hljs-tag,
.hljs-tag .hljs-keyword,
.hljs-decorator,
.ini .hljs-title,
.hljs-shebang,
.hljs-prompt,
.hljs-hexcolor,
.hljs-rule .hljs-value,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-number,
.css .hljs-function,
.hljs-function .hljs-title,
.coffeescript .hljs-attribute {
  color: #1c00cf;
}

.hljs-class .hljs-title,
.smalltalk .hljs-class,
.hljs-type,
.hljs-typename,
.hljs-tag .hljs-attribute,
.hljs-doctype,
.hljs-class .hljs-id,
.hljs-built_in,
.setting,
.hljs-params,
.clojure .hljs-attribute {
  color: #5c2699;
}

.hljs-variable {
 color: #3f6e74;
}
.css .hljs-tag,
.hljs-rule .hljs-property,
.hljs-pseudo,
.hljs-subst {
  color: #000;
}

.css .hljs-class,
.css .hljs-id {
  color: #9b703f;
}

.hljs-value .hljs-important {
  color: #ff7700;
  font-weight: bold;
}

.hljs-rule .hljs-keyword {
  color: #c5af75;
}

.hljs-annotation,
.apache .hljs-sqbracket,
.nginx .hljs-built_in {
  color: #9b859d;
}

.hljs-preprocessor,
.hljs-preprocessor *,
.hljs-pragma {
  color: #643820;
}

.tex .hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.diff .hljs-header,
.hljs-chunk {
  color: #808080;
  font-weight: bold;
}

.diff .hljs-change {
  background-color: #bccff9;
}

.hljs-addition {
  background-color: #baeeba;
}

.hljs-deletion {
  background-color: #ffc8bd;
}

.hljs-comment .hljs-doctag {
  font-weight: bold;
}

.method .hljs-id {
  color: #000;
}