.amp-nav-wrapper a {
    text-decoration: none;
    color: #fff;
}

.amp-nav-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #323436;
    z-index: 1000;
}
.amp-nav-wrapper {
    height: 72px;
}
@media screen and (max-width: 767px) {
    .amp-nav-wrapper {
        height: 44px;
    }
}

.amp-element-sidebar {
    position: relative;
}

.navbar-header {
    float: left;
}
.navbar-toggle em {
    display: none;
}
.amp-nav-wrapper .navbar-brand {
    min-width: 200px;
    float: none;
    display: inline-block;
    margin: 15px 0 10px;
    width: 81px;
    height: 41px;
    background-size: 100% auto;
    position: absolute;
    font-size: 26px;
}
.navbar-toggle {
    display: block;
    margin: 19px 0 9px;
    padding: 5px;
    border: 0;
    background: transparent;
    float: right;
}
@media screen and (max-width: 767px) {
    .navbar-toggle {
        margin-top: 9px;
    }
    .amp-nav-wrapper .navbar-brand {
        margin: 5px 0 0;
        width: 68px;
        height: 33px;
        font-size: 23px;
    }
}
.navbar-header {
    float: none;
}
.navbar-toggle .icon-bar {
    background-color: white;
    height: 2px;
    width: 23px;
    background: #999;
    display: block;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 6px;
}


#sidebar {
    color: #fff;
    background-position: center top;
    background-image: url(//static.cdn.xuexb.com/image/bj.jpg);
    background-size: cover;
}
.sidebar-wrap {
    width: 200px;
    padding: 20px;
}
.sidebar-wrap h2 {
    text-align: center;
}
.sidebar-wrap ul {
    margin: 0;
    padding: 0;
    margin-left: 2rem;
    line-height: 2rem;
}
.sidebar-wrap a {
    color: #fff;
}
.sidebar-wrap amp-img {
    display: block;
    margin: 0 auto;
    border-radius: 100px;
}