<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <script src="{{ config.blog.get_static('ls.js') }}"></script>

    <%css('wise_global')%>
</head>
<body>
    <!-- page 容器 -->
    <div class="page xuexb-list">
        {% block bar %}
            <header class="bar bar-nav">
                <a class="icon icon-menu pull-left open-panel"></a>
                <a class="icon icon-refresh pull-right" onclick="$.showIndicator();location.reload()"></a>
            </header>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

    {% block panel %}
        <div class="panel-overlay"></div>
        <div class="panel panel-left panel-reveal">
            <div class="content-block">
                <h3>导航</h3>
                <ul>
                    <li>
                        <a href="/" class="close-panel">全部</a>
                    </li>
                    {% for nav in list_data %}
                        <li>
                            <a class="close-panel" href="/list/{{ nav.url or nav.id }}/">{{ nav.name }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="/html/xiaowu.html" class="close-panel">关于我</a>
                    </li>
                </ul>

                <!-- <h3>设置</h3>
                <ul>
                    <li>
                        <div class="item-content">
                          <div class="item-inner">
                            <div class="item-input">夜间模式
                              <label class="label-switch">
                                <input type="checkbox" checked>
                                <div class="checkbox"></div>
                              </label>
                            </div>
                          </div>
                        </div>
                      </li>
                </ul> -->

                <p>
                    &copy; 前端小武 2011-2015
                </p>
            </div>
        </div>
    {% endblock %}
    
    <%js('wise_global')%>
</body>
</html>