<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <script src="{{ config.blog.get_static('ls.js') }}"></script>

    <%css('wise_global')%>
</head>
<body>
    <!-- page 容器 -->
    <div class="page xuexb-list">
        {% block bar %}
            <header class="bar bar-nav">
                <a class="icon icon-menu pull-left open-panel"></a>
                <a class="icon icon-refresh pull-right" onclick="$.showIndicator();location.reload()"></a>
                <h1 class="title">{{ bar_title }}</h1>
            </header>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

    {% block panel %}
        <div class="panel-overlay"></div>
        <div class="panel panel-left panel-reveal">
            <div class="content-block">
                <h3>导航</h3>
                <ul>
                    <li>
                        <a href="/" class="close-panel">全部</a>
                    </li>
                    {% for nav in list_data %}
                        <li>
                            <a class="close-panel" href="/list/{{ nav.url or nav.id }}/">{{ nav.name }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="/html/xiaowu.html" class="close-panel">关于我</a>
                    </li>
                    <li>
                        <a href="https://github.com/xuexb/blog/" class="close-panel">博客源码</a>
                    </li>
                    <li>
                        <a href="https://github.com/xuexb/demo/" class="close-panel">demo</a>
                    </li>
                </ul>
                <p>
                    &copy; 前端小武 2011-2016
                </p>
            </div>
        </div>
    {% endblock %}
    
    <%js('wise_global')%>

    <div style="display:none;">
        <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9e2b145b1229bd71028c43933c167d30' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
</body>
</html>