@charset "UTF-8";
/**
 * 后台样式
 */

/*后台*/
.center{
    border:1px solid  #ddd;
    background-color:#fff;
    padding:10px;
}





/*表单模块*/
.mod-form{}
.mod-form li{
    padding-top:16px;overflow:hidden;
    padding-left:100px;
}
.mod-form li:first-child{
    padding-top:0;
}
.mod-form-label{
    display: inline;
    float: left;
    width: 100px;
    margin-left: -110px;
    text-align: right;
    font-size: 14px;
    color: #666;
}
.mod-form-title{
    width:500px;
}
.mod-form-content{
    padding:10px;
    height:400px;width:90%;
}

.mod-form-tags {
    line-height: 26px;
}
.mod-form-tags span{
    display: inline-block; 
    margin-right: 5px; 
    padding: 0 5px; 
    cursor: pointer; 
}
.mod-form-tags span:hover{
    background-color: #f0f0f0; 
}
.mod-form-tags span.checked{
    background-color: #09f; 
}