@charset "UTF-8";
/*头*/
.bar{
    min-width:1000px;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    background: #fff;

    position:relative;
    z-index:1000;
}

.bar-logo{
    background-color:#1f7b9b;
    color:#fff;
    font-size:22px;
    height:60px;
    line-height:60px;
    padding:0 16px;
}
.bar-logo a{
    color:#fff;
}
.bar-logo a:hover{
    text-decoration:none;
}
.bar-nav > li{
    padding-left:20px;
    position:relative;
    float:left;
}
.bar-nav > li:first-child{
    padding-left:0;
}
.bar-nav > li > a,
.bar-nav > li > span{
    height:56px;
    line-height:50px;
    display:block;
    padding:0 8px;
    font-size:16px;
    border-top:4px solid #fff;
}
.bar-nav > li > span{
    cursor:default;
}
.bar-nav > li > a:hover{
    text-decoration:none;
}
.bar-nav > li > .current{
    border-top-color:#1f7b9b;
}
.bar-nav-rss{
    overflow:hidden;
    height:30px;
    border-left:1px solid  #ccc;
    margin-top:12px;
}
.bar-nav-rss > a{
    height:20px;line-height:20px;
    color:#fff;
    background-color:#1f7b9b;
    font-size:14px;
    display:block;
    margin-top:6px;
    padding:0 10px;
    margin-left:26px;
}
.bar-nav-dropdown{
    position:absolute;
    left:-22px;top:50px;
    background-color:#fff;
    border:2px solid  #1f7b9b;
    width:130px;
    display:none;
}
.bar-nav-dropdown:after,
.bar-nav-dropdown:before{
    content:' ';
    position:absolute;
    border:10px dashed transparent;height: 0;width:0;overflow:hidden;
    left:50%;
    margin-left:-10px;
}
.bar-nav-dropdown:before{
    top:-20px;
    border-bottom:10px solid  #1f7b9b;
}
.bar-nav-dropdown:after{
    top:-17px;
    border-bottom:10px solid  #fff;
}
.bar-nav-dropdown > a{
    display:block;
    line-height:36px;
    padding-left:10px;
    position:relative;
    z-index:2;
}
.bar-nav-dropdown > a.current{
    background-color:#e8e8e8;
}
.bar-nav-dropdown > a:hover{
    background-color: #f0f0f0; 
}
.bar-nav-dropdown > a:first-child.current:after{
    border:10px dashed transparent;height: 0;width:0;overflow:hidden;
    content:' ';
    display:block;position:absolute;left:50%;
    margin-left:-10px;top:-17px;
    border-bottom:10px solid  #e8e8e8;
}
/*滑过让下拉显示*/
.bar-nav > li:hover .bar-nav-dropdown{
display:block;
}