.mip-nav-wrapper .navbar-brand {
    min-width: 200px;
}
.mip-nav-wrapper {
    padding: 0 10px;
    background-color: #323436;
}

.mip-nav-wrapper .navbar-brand,
.mip-nav-wrapper .navbar-brand:hover,
.navbar-nav a,
.navbar-nav a:hover {
    color: #fff ;
}
