.mip-nav-wrapper .navbar-brand {
    width: 200px;
}
.mip-nav-wrapper {
    padding: 0 10px;
    background-color: #323436;
}

.mip-nav-wrapper .navbar-brand,
.mip-nav-wrapper .navbar-brand:hover {
    color: #fff !important;
}