body {
    margin: 0;
    padding: 0;
    color: #666;
    -webkit-text-size-adjust: none;
    -webkit-transition: -webkit-transform .2s cubic-bezier(.4,.01,.165,.99);
    transition: transform .2s cubic-bezier(.4,.01,.165,.99),-webkit-transform .2s cubic-bezier(.4,.01,.165,.99);
    -webkit-tap-highlight-color: transparent;
    font-family: "Helvetica Neue",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei";
    -webkit-font-smoothing: antialiased;
}

a {
    color: #2479CC;
}