<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{options.title}}</title>
  <link rel="stylesheet" href="/static/admin/module/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/admin/css/admin.css">
  <link rel="stylesheet" href="/static/admin/css/icon.css">
</head>
<body>
<script>
window.SysConfig = {
  userInfo: {{JSON.stringify(userInfo) | safe}},
  options: {{JSON.stringify(options) | safe}},
};
</script>
<div id="app"></div>
<script src="/static/admin/js/common.js"></script>
<script src="/static/admin/js/admin.js"></script>
</body>
</html>
