<div class="content infinite-scroll pull-to-refresh-content" data-ptr-distance="55" data-distance="100">
        <!-- 默认的下拉刷新层 -->
        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
        </div>
        <div class="bar xuexb-list-bar-search">
            <form class="searchbar" id="J-form" action="">
                <a class="searchbar-cancel">取消</a>
                <div class="search-input">
                    <label class="icon icon-search" for="J-search"></label>
                    <input type="search" name="key" id="J-search" placeholder="输入关键字..." value="{{ key }}">
                </div>
            </form>
        </div>
        <div class="list-block">
            {% if list and list.length%}
                <ul class="list-container">
                    {% for item in list%}
                        <li class="item-content">
                            <div class="item-inner">
                                <a href="/html/{{ item.url or item.id }}.html" class="item-title">{{ item.title }}</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>
                    没有数据～
                </p>
            {% endif %}
        </div>
        <!-- 加载提示符 -->
        <div class="infinite-scroll-preloader">
            <div class="preloader"></div>
        </div>
    </div>