@charset "UTF-8";
/**
 * 博客样式
 */


.ui-empty{
    padding:10px;
    background-color:#fff;
    border:1px solid  #ddd;
}

.wrap{
    padding-top:80px;
}

html{
    overflow-x:hidden;min-width:1000px;
background-color:#e8e8e8;}
.w{
    width:1000px;
    margin-left:auto;margin-right:auto;
}


.main{
    width: 100%;
    float: left;
}
.main-inner{
    padding-right:280px;
}
.sidebar{
    float: left;
    width: 260px;
    margin-left:-260px;
}

/*文章列表*/
.article-list{
}
.article-list > li{
    margin-top:20px;
    background-color:#fff;
    border:1px solid #ddd;
    padding-bottom:10px;
}
.article-list > li:first-child{
    margin-top:0;
}
.article-list-title{
    height:50px;line-height:50px;
    font-size:20px;
    padding:0 10px;
    border-bottom:1px solid #e5e5e5;
}
.article-list-title:hover a{
    text-decoration:none;
}
.article-list-title-tool{
    float:right;
    font-size:12px;
}
.article-list-content{padding:10px;color:#424242;}
.article-list-more{
    height:28px;
}
.article-list-more > a {
    display:block;
    width:108px;text-align:center;
    background-color:#1f7b9b;
    color:#fff;
    height:28px;line-height:28px;
}
.article-list-more > a:hover{
    text-decoration:none;
    background-color:#3592b3;
}
.article-list-tool{
    height:22px;line-height:22px;
    text-align:right;color:#999;
}
.article-list-tool a{
    color:#999;
    text-decoration:underline;
}
.article-list-tool a:hover{
    color:#000;
}
.article-list-tool li{
    position:relative;
    float:left;
    padding:0 10px;
}
.article-list-tool li:after{
    content:' ';
    position:absolute;left:0;top:4px;
    height:14px;
    width:1px;background-color:#999;
    overflow:hidden;
}
.article-list-tool li:first-child:after{
    display:none;
}
.article-list-tool i{
    display:inline-block;
    vertical-align:-2px;margin-right:3px;
    overflow:hidden;
    background-repeat:no-repeat;
}
.article-list-tool-hit{
    width:16px;height:11px;
    background-image:url('./sprite/hit.png');
    vertical-align:0 !important;
}
.article-list-tool-time{
    width:13px;height:13px;
    background-image:url('./sprite/time.png');
}.article-list-tool-class{
    width:7px;height:13px;
    background-image:url('./sprite/class.png');
}.article-list-tool-tag{
    width:11px;height:11px;
    background-image:url('./sprite/tag.png');
}


/*详情页*/
.article-detail{
    background-color:#fff;
    border:1px solid #ddd;
    padding-bottom:10px;
}
.article-detail-title{
    height:50px;line-height:50px;
    font-size:20px;
    padding:0 10px;
    border-bottom:1px solid #e5e5e5;
}
.article-detail-title:hover a{
    text-decoration:none;
}
.article-detail-content{
    padding:10px;
}

/*详情页的上,下一个*/
.article-detail-nav{
    border:1px solid  #ddd;
    background-color:#fff;
    padding:10px;
}
.article-detail-nav a{
    text-decoration:underline;
}

/*详情页的评论*/
.article-detail-comment{
    border:1px solid  #ddd;
    padding:10px;
    background:#fff url('./loading-32-32.gif') center center no-repeat;
    min-height:100px;
}
.article-detail-comment .ds-thread{
    background-color:#fff;
}

/*侧边栏*/
.sidebar-box{
    background-color:#fff;
}

/*作者*/
.sidebar-author{
}
.sidebar-author .fl{
    width:100px;height:100px;
}
.sidebar-author img{width:100px;height:100px;display:block;
background:#f3f3f3 url('./loading-16-16.gif') center center no-repeat;}
.sidebar-author .fr{
    padding-top:10px;
    padding-right:6px;
    width:140px;
}
.sidebar-author .icons{
    vertical-align:-3px;
}
.sidebar-author h3{
    color:#000;font-weight:bold;
}
.sidebar-author p{
    padding-top:10px;
}


/*搜索栏*/
.sidebar-search-text{
    padding:9px;
    line-height:16px;
    height:16px;background-color:#fff;
    border:1px solid  #ccc;
    outline:none;width:168px;
    color:#999;
}
.sidebar-search-btn{
    background-color:#1f7b9b;
    color:#fff;width:62px;height:36px;line-height:36px;
    border:none;
    cursor:pointer;
}
.sidebar-search-text:focus{
    color:#333;
}
.sidebar-search-text:focus,
.sidebar-search-text:hover{
    border-color:#1f7b9b;
}

/*文章*/
.sidebar-article{
    border:1px solid  #ddd;
}
.sidebar-article dt{
    border-bottom:1px solid #ddd;
    font-weight:bold;
    padding-left:10px;
    background-color:#f5f5f5;
    height:36px;line-height:36px;font-size:16px;
}
.sidebar-article a{
    height:32px;line-height:32px;
    overflow:hidden;display:block;padding-left:10px;padding-right:6px;
    border-top:1px solid #ddd;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebar-article a:first-child{
    border-top:none;
}
.sidebar-article a:before{
    content:attr(data-hit);
    display:inline;
    float:right;
    padding-left:4px;color:#bbb;font-size:12px;
}


/*友情链接*/
.sidebar-links{
    border:1px solid  #ddd;
}
.sidebar-links dt{
    border-bottom:1px solid #ddd;
    font-weight:bold;
    padding-left:10px;
    background-color:#f5f5f5;
    height:36px;line-height:36px;font-size:16px;
}
.sidebar-links dd{
    font-size:0;
    padding:10px;
}
.sidebar-links a{
    display:inline-block;
    font-size:14px;
    margin-right:10px;
}


/*响应式*/
body.auto{
    padding:0 10px;
}
body.auto .w{
    width:auto;
}
body.auto .bar .w{
    padding:0 10px;
}



/*icons*/
.icons{
    display:inline-block;overflow:hidden;
}
.icon-github,
.icon-sina{
    width:16px;
    height:16px;
}
.icon-github{
    background-image:url('./sprite/github.png');
}
.icon-sina{
    background-image:url('./sprite/sina.png');
}



/*标签页*/
.tags{
    border:1px solid  #ddd;
    background-color:#fff;
    padding:20px;
    line-height:22px;
}
.tags-ul > li{
    padding-top:10px;
}
.tags-ul > li:first-child{
    padding-top:0;
}
.tags-ul a i{
    font-size:12px;color:#999;
}
/*.tags-ul > li{
    padding-top:10px;
}
.tags-ul > li:first-child{
    padding-top:0;
}
.tags-ul a{
    display:block;line-height:32px;height:32px;
    padding:0 10px;
    background-color:#f0f0f0;
    position:relative;
    color:#000;
}
.tags-ul a:hover{
    text-decoration:none;
    color:#000;
}
.tags-ul a i{
    font-size:12px;color:#999;
}
.tags-ul a span,
.tags-ul a i{
    position:relative;
    z-index:10;
}
.tags-ul a b{
    display:block;
    height:100%;
    background-color:#1f7b9b;
    z-index:9;
    top:0;
    left:0;position:absolute;
    width:0;
}
.tags-ul a b:after{
    display:block;
    content:' ';
    border:6px dashed transparent;height: 0;width:0;overflow:hidden;
    position:absolute;top:0;right:-12px;
    border-left:6px solid  #1f7b9b;
    top:50%;
    margin-top:-6px;
}*/



/*面包屑*/
.ui-crumbs{
    border:1px solid  #ddd;
    background-color:#fff;
    margin-bottom:20px;
    padding:10px;
}
.ui-crumbs a{
    text-decoration:underline;
}



/*出错页面*/
.mod-error,
.mod-success{
    border:1px solid  #ddd;
    background-color:#fff;
    padding:20px;
    color:#f00;
    font-size:16px;
}
.mod-success{
    color:#333;
}