<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <meta content="width=device-width,minimum-scale=1.0,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,minimal-ui" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=no" name="format-detection" />
    

    <link rel="stylesheet" type="text/css" href="/static/touch/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/touch/css/h5.css">
    <script type="text/javascript" src="/static/touch/js/lib/viewport.js"></script>

</head>
<body>
    
    <div class="index-empty">
        <p>404  <a href="/">回首页</a></p>
    </div>
    
</body>
</html>