
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <meta content="width=device-width,minimum-scale=1.0,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,minimal-ui" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="/static/touch/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/touch/css/h5.css">
    <script type="text/javascript" src="/static/touch/js/lib/viewport.js"></script>

</head>
<body>

    <!-- 头 -->
    <!-- jser: 给j-topbar添加is-sort为出现排序 -->
    <div id="J-topbar">
        <div class="topbar">
            <h1><%=nav_list_name%></h1>
            <div class="topbar-sort">
                <span>筛选</span>
            </div>
        </div>
        <ul class="topbar-sort-more">
            <li<%if(!nav_list_id){%> class="current"<%}%>>全部文章</li>
            <% (LIST || []).forEach(function(val){ %>
                <li <%if(nav_list_id && nav_list_id === val.id){ %> class="current"<% } %> data-id="<%=val.id%>"><%=val.name%></li>
            <% }); %>
        </ul>
        <div class="topbar-sort-mask"></div>
    </div>
    
    <div class="ui-auto index">
        <!-- 搜索条 -->
        <!-- jser: 给j-serach添加 is-focus为聚焦(定位),添加is-text为输入框状态 -->
        <div id="J-search"<%if(key){%> class="is-text"<%}%>>
            <div class="ui-search">
                <form action="">
                    <div class="ui-search-cnt">
                        <input type="text" placeholder="搜索" id="J-key" class="key"<%if(key){%> value="<%=key%>"<%}%>>
                    </div>
                    <div class="ui-search-btn">
                        取消
                    </div>
                </form>
            </div>
            <div class="ui-search-mask"></div>
        </div>
    
        <ul class="index-list" id="J-list">
        </ul>
    </div>




    <!-- 引用公用js -->
    <script type="text/javascript" src="/static/touch/js/lib/zepto.js"></script>
    <script type="text/javascript" src="/static/touch/js/lib/ajaxPage.js"></script>
    

    <script type="text/javascript">

        /**
         * 附近餐厅逻辑js
         */
        (function(){
            'use strict';

            /**
             * 每个功能为一个fn
             * @type {Object}
             */
            var App = {};

            /**
             * 列表分页对象，使用ajaxpage.js生成
             */
            App.Ajax = null;

            /**
             * 初始化
             */
            App.init = function(){
                var data = {};

                data.key = $('#J-key').val() || '';

                data.list_id = $('.topbar-sort-more .current').eq(0).data('id') || 0;

                App.Ajax = new AjaxPage({
                    url: '/api/index',
                    data: data,
                    elem: '#J-list',//列表元素ul
                    empty: function(){
                        App.Ajax.$loading.text(App.Ajax.config('page') === 1 ? '没有文章!' : '亲，看完了！');
                        return false;
                    }
                });

                //排序
                App.sort();

                //搜索
                App.search();
            }

            /**
             * 搜索
             */
            App.search = function(){
                var $search = $('#J-search'),
                    $key = $search.find('.key');

                $key.on('focus', function(){
                    $search.addClass('is-text is-focus');
                }).on('blur mm', function(){
                    if (!this.value) {
                        $search.removeClass('is-text');
                    }
                    $search.removeClass('is-focus');
                });

                // 绑定点击取消按钮
                $search.find('.ui-search-btn').on('touchstart', function(event){
                    var list_id = App.Ajax.config('data').list_id || 0;
                    if(!$search.hasClass('is-focus')){//如果在页面上点击取消则需要重置ajax列表
                        App.Ajax.config('data', null).config('data', {list_id: list_id}).config('page', 0).empty().reset();
                    }

                    $key.val('').blur().trigger('mm');//清空文本框，并触发逻辑状态
                    event.preventDefault();
                });

                //绑定搜索
                $search.find('form').on('submit', function(){
                    var key = $.trim($key.val());

                    if(key){
                        App.Ajax.config('data', {key: key}).config('page', 0).empty().reset();

                        $key.blur();
                    }

                    return false;
                });
            }

            /**
             * 排序，会追加以前的条件，比如搜索后排序
             */
            App.sort = function(){
                var $topbar = $('#J-topbar');

                $topbar.find('.topbar-sort').on('tap', function() {
                    $topbar.toggleClass('show-sort');
                });
                $topbar.find('.topbar-sort-mask').on('touchstart', function(event) {
                    event.preventDefault();
                }).on('tap', function() {
                    $topbar.removeClass('show-sort');
                });

                //这里是点击排序时
                $topbar.find('.topbar-sort-more').on('tap', 'li', function(){
                    //高亮
                    $(this).addClass('current').siblings().removeClass('current');

                    //隐藏
                    $topbar.removeClass('show-sort');

                    $topbar.find('h1').text($(this).text());

                    App.Ajax.config('data', {
                        list_id: $(this).data('id') || 0
                    }).config('page', 0).empty().reset();

                    return false;
                }).on('touchstart', function(event){
                    event.preventDefault();
                });
            }

            App.init();
        })();
    </script>
</body>
</html>