
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <meta name="keywords" content="<%=keywords%>" />
    <meta name="description" content="<%=description%>" />
    <meta content="width=device-width,minimum-scale=1.0,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,minimal-ui" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="/static/touch/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/touch/css/h5.css?3">
    <script type="text/javascript" src="/static/touch/js/lib/viewport.js"></script>

</head>
<body>

    <div id="J-topbar">
        <div class="topbar">
            <h1><%if(key){%>
                搜索 <mark><%=key%></mark> 的结果
            <%}else{%>
                <%=nav_list_name%>
            <%}%></h1>
            <div class="topbar-sort">
                <span>筛选</span>
            </div>
        </div>
        <ul class="topbar-sort-more">
            <li<%if(!nav_list_id){%> class="current"<%}%>>全部文章</li>
            <% (LIST || []).forEach(function(val){ %>
                <li <%if(nav_list_id && nav_list_id === val.id){ %> class="current"<% } %> data-id="<%=val.id%>"><%=val.name%></li>
            <% }); %>
        </ul>
        <div class="topbar-sort-mask"></div>
    </div>
    
    <div class="ui-auto index">
        <div id="J-search"<%if(key){%> class="is-text"<%}%>>
            <div class="ui-search">
                <form action="">
                    <div class="ui-search-cnt">
                        <input type="text" placeholder="搜索" id="J-key" class="key"<%if(key){%> value="<%=key%>"<%}%>>
                    </div>
                    <div class="ui-search-btn">
                        取消
                    </div>
                </form>
            </div>
            <div class="ui-search-mask"></div>
        </div>
    
        <ul class="index-list" id="J-list">
        </ul>
    </div>




    <!-- 引用公用js -->
    <script type="text/javascript" src="/static/touch/js/lib/zepto.js"></script>
    <script type="text/javascript" src="/static/touch/js/lib/ajaxPage.js"></script>
    <script type="text/javascript" src="/static/touch/js/index.js"></script>
    <script type="text/javascript" src="/static/touch/js/baidutongji.js"></script>
</body>
</html>