{% extends './layout/admin.html' %}

{% block main_inner %}
    <div class="center">
        <form action="/admin/login/" method="POST" autocomplete="off">
            <ul class="mod-form">
                <li>
                    <label class="mod-form-label" for="J-username">用户名：</label>
                    <div class="mod-form-box">
                        <input type="text" id="J-username" autofocus name="username">
                    </div>
                </li>
                <li>
                    <label class="mod-form-label" for="J-password">密码：</label>
                    <div class="mod-form-box">
                        <input type="password" id="J-password" name="password">
                    </div>
                </li>
                <li>
                    <label class="mod-form-label" for="J-user_auto">记住密码：</label>
                    <div class="mod-form-box">
                        <input type="checkbox" id="J-user_auto" disabled name="auto">
                    </div>
                </li>
                <li>
                    <input type="submit" value="登录">
                </li>
            </ul>
        </form>
    </div>
{% endblock %}