{% extends './layout/admin.html' %}

{% block main_inner %}
    <div class="center">
        <form action="/admin/save_article" method="POST">
            <ul class="mod-form">
                {% if type == 'edit' %}
                    <li>
                        <div class="mod-form-label">ID：</div>
                        <div class="mod-form-box">
                            {{ data.id }}
                        </div>
                        <input type="hidden" name="id" value="{{ data.id }}">
                    </li>
                {% endif %}
                <li>
                    <label class="mod-form-label" for="J-title">标题：</label>
                    <div class="mod-form-box">
                        <input type="text" id="J-title" name="title" class="mod-form-title" value="{{ data.title }}">
                    </div>
                </li>
                <li>
                    <label class="mod-form-label" for="J-url">链接：</label>
                    <div class="mod-form-box">
                        <input type="text" id="J-url" name="url" class="mod-form-title" value="{{ data.url }}">
                    </div>
                </li>
                <li>
                    <label class="mod-form-label" for="J-hit">点击：</label>
                    <div class="mod-form-box">
                        <input type="text" id="J-hit" name="hit" value="{{ data.hit }}">
                    </div>
                </li>
                
                {% if type == 'edit' %}
                    <li>
                        <div class="mod-form-label">更新时间：</div>
                        <div class="mod-form-box">
                            {{ data.update_date | elapsed }}
                        </div>
                    </li>
                {% endif %}
                <li>
                    <label class="mod-form-label" for="J-list_id">分类：</label>
                    <div class="mod-form-box">
                        <select name="list_id" id="J-list_id">
                            {% for item in list_data %}
                                {% if data.list_id and item.id == data.list_id%}
                                    <option value="{{ item.id }}" selected>{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </li>
                <li>
                    <label class="mod-form-label">标签：</label>
                    <div class="mod-form-box mod-form-tags">
                        {% if data.tags_data and data.tags_data.length %}
                            {% for item in data.tags_data %}
                                <input type="hidden" name="old_tags_id" value="{{ item.tags_id }}">
                            {% endfor %}
                        {% endif %}

                        {%if tags_data %}
                            {% for item in tags_data %}
                                {% if item.checked %}
                                    <label for="J-tags-{{ item.id }}" class="checked">{{ item.name }}</label>
                                    <input name="tags_id" type="checkbox" checked id="J-tags-{{ item.id }}" value="{{ item.id }}">
                                {% else %}
                                    <label for="J-tags-{{ item.id }}">{{ item.name }}</label>
                                    <input name="tags_id" type="checkbox" id="J-tags-{{ item.id }}" value="{{ item.id }}">
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            没有标签
                        {% endif %}
                    </div>
                </li>
                <li>
                    <label class="mod-form-label" for="J-content">内容：</label>
                    <div class="mod-form-box">
                        <textarea id="J-content" name="content" class="mod-form-content">{{ data.content }}</textarea>
                    </div>
                </li>
                <li>
                    <input type="submit" value="{% if type == 'add' %}创建{% else %}保存{% endif %}">
                </li>
            </ul>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        seajs.use('admin/article');
    </script>
{% endblock %}