{% extends './layout/admin.html' %}

{% block main_inner %}
    <div class="center">
        <form action="/admin/save_tags" method="POST">
            <ul class="mod-form">
                {% if type == 'edit' %}
                    <li>
                        <div class="mod-form-label">ID：</div>
                        <div class="mod-form-box">
                            {{ data.id }}
                        </div>
                        <input type="hidden" name="id" value="{{ data.id }}">
                    </li>
                {% endif %}
                <li>
                    <label class="mod-form-label" for="J-name">名称：</label>
                    <div class="mod-form-box">
                        <input type="text" id="J-name" name="name" class="mod-form-name" value="{{ data.name }}">
                    </div>
                </li>
                <li>
                    <label class="mod-form-label" for="J-url">链接：</label>
                    <div class="mod-form-box">
                        <input type="text" id="J-url" name="url" class="mod-form-title" value="{{ data.url }}">
                    </div>
                </li>
                <li>
                    <label class="mod-form-label" for="J-hit">点击：</label>
                    <div class="mod-form-box">
                        <input type="text" id="J-hit" name="hit" value="{{ data.hit }}">
                    </div>
                </li>
                
                {% if type == 'edit' %}
                    <li>
                        <div class="mod-form-label">更新时间：</div>
                        <div class="mod-form-box">
                            {{ data.update_date | elapsed }}
                        </div>
                    </li>
                {% endif %}
                <li>
                    <input type="submit" value="{% if type == 'add' %}创建{% else %}保存{% endif %}">
                </li>
            </ul>
        </form>
    </div>
{% endblock %}