{% extends './layout/admin.html' %}

{% block main_inner %}
    <div class="center">
        <div class="markdown-body">
            <ul>
                <li>
                    <a href="/admin/article/">管理文章</a> - <a href="/admin/add_article/">添加</a>
                </li>
                <li>
                    <a href="/admin/tags/">管理标签</a> - <a href="/admin/add_tags/">添加</a>
                </li>
                <li>
                    <a href="/admin/sitemap/">生成站点地图</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}