{% extends './layout/admin.html' %}

{% block main_inner %}
    {% if list and list.length  %}

        <div class="center">
            <div class="markdown-body">
                <ul>
                    {% for item in list %}
                        <li>
                            <a href="/tags/{{ item.url or item.id }}/">{{ item.name }}</a> - [<a href="/admin/edit_tags?id={{ item.id }}">编辑</a>] [<a href="/admin/del_tags?id={{ item.id }}" onclick="return confirm('确认删除吗？')">删除</a>]
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% else %}
        <div class="ui-empty">
            没有数据
        </div>
    {% endif %}
{% endblock %}