{% extends './layout/main.html' %}

{% block links %}
    <div class="sidebar-box mt20">
        <dl class="sidebar-links">
            <dt>
                名人 名博 名事迹
            </dt>
            <dd>
                <a href="http://sentsin.com/" title="前端大神">贤心</a> 
                <a href="http://ziren.org/">前端开发-子任</a>
                <a href="http://www.pmsun.net/" title="CURD程序员一枚">暖阳丶午后</a>
                <a href="http://www.wenkm.com/" title="Kevin的博客">Kevin's Blog</a>
                <a href="https://imququ.com">Jerry Qu</a>
                <a href="http://qianduanblog.com/" title="很牛气的前端，有很多前端资源">前端博客</a>
                <a href="http://www.html-js.com/" title="最专业的前端技术内容社区">前端乱炖</a>
                <a href="http://www.wufangbo.com/" title="前端开发-武方博">前端开发</a>
                <a href="http://www.baidufe.com/" title="Alien的笔记">Alien的笔记</a>
                <a href="http://www.welefen.com/" title="welefen的随笔">welefen的随笔</a>
                <!-- <a href="http://www.aips.me/" title="关注 WordPress 与互联网的原创IT科技博客">周良博客</a> -->
                <a href="http://stylechen.com/" title="关注前端与用户体验">雨夜带刀's Blog</a>
                <a href="http://yanhaijing.com/">颜海镜</a>
                <a href="http://f2er.club/" title="前端人的俱乐部">醉牛前端</a>
                <a href="http://ideazhao.com/" title="灵感的小窝 | 生活琐碎、前端杂谈、诗情画意、随心笔记">灵感的小窝</a>
                <a href="http://www.52cik.com/" title="前端牛人乱码">楼教主</a>
                <a href="http://www.barretlee.com/" title="小胡子哥的个人网站">小胡子哥</a>
            </dd>
        </dl>
    </div>
    <div class="sidebar-box mt20">
        <dl class="sidebar-links">
            <dt>
                有情 有链 有情意
            </dt>
            <dd>
                <a href="http://www.shenglei.org/">盛磊博客</a>
                <a href="http://www.5ivu.com/">最新笑话</a>
                <a href="http://www.nuobg.com/">网络推广</a>
                <a href="http://youxi.pw/">新博客</a>
            </dd>
        </dl>
    </div>
    <div class="sidebar-box mt20">
        <dl class="sidebar-links">
            <dd>
                <p style="font-size:12px;padding: 10px;color: #999;">
                    注：由于站长平台提醒我首页链接过多，故申请的链接都会出现在 <a href="/html/links.html" style="display: inline;padding: 0;color: #4183c4;">友情链接</a>！
                </p>
            </dd>
        </dl>
    </div>
{% endblock %}