{% extends './layout/main.html' %}

{% block location %}
    <div class="ui-crumbs">
        <a href="/">首页</a> > 标签
    </div>
{% endblock %}

{% block main_inner %}
    {% if list and list.length %}
        <div class="tags">
            <ul class="tags-ul">
                {% for item in list %}
                    <li>
                        <a href="/tags/{{ item.url or item.id }}/">
                            <span>{{ item.name }}</span>
                            <i>({{ item.article_count }})</i>
                            <b style="width:{{ item.article_count / max_count * 100 }}%;"></b>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="ui-empty">
            没有数据！
        </div>
    {% endif %}
{% endblock %}