<amp-analytics type="googleanalytics" id="analytics1">
<script type="application/json">
{
    "vars": {
        "account": "UA-97743787-2"
    },
    "triggers": {
        "trackPageview": {
            "on": "visible",
            "request": "pageview"
        },

        "trackOpenNav": {
            "selector": ".navbar-toggle",
            "on": "click",
            "request": "event",
            "vars": {
                "eventCategory": "open-nav",
                "eventAction": "click"
            }
        },

        "trackOpenClose": {
            "selector": ".i-amphtml-sidebar-mask",
            "on": "click",
            "request": "event",
            "vars": {
                "eventCategory": "close-nav",
                "eventAction": "click"
            }
        }
    }
}
</script>
</amp-analytics>
