<div class="amp-nav-wrapper">
    <div class="amp-element-sidebar">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" on="tap:sidebar.open">
                <em>导航</em>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ amp_site_url }}" class="navbar-brand">{{ options.title }}</a>
        </div>
    </div>
</div>

<amp-sidebar
    id="sidebar"
    layout="nodisplay"
    side="left">

    <div class="sidebar-wrap">
        <div class="profile">
            <a href="{{ amp_site_url }}">
                <amp-img
                    src="{{ options.logo_url | buildImgToWebpUrl(enableWebp) }}"
                    width="100"
                    height="100"></amp-img>
                <h2>{{ options.title }}</h2>
            </a>
        </div>
        <ul>
            {% for nav in navigation %}
                <li>
                    <a href="{{ amp_site_url }}{{ nav.url }}" title="{{ nav.label }}">{{ nav.label }}</a>
                </li>
            {% endfor %}

            <li>
                <a href="{{ amp_site_url }}/search.html" title="搜索">搜索</a>
            </li>
        </ul>
    </div>
</amp-sidebar>