@charset "UTF-8";
/**
 * 重置样式
 */


/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    color:#2c3039;
    background-color:#fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,
    hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}


/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
    font:14px/1.5 'Microsoft YaHei',tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;
}
input,select,textarea {
    font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
    border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align:inherit;
}

/* 去除默认边框 */
fieldset,img {
    border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var,i {
    font-style:normal;
    font-weight:normal;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}

q:before,q:after {
    content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* 正常链接 未访问 */
/*a:link {
    color: #08c;
}*/

a{color:#2c3039;}

/* 鼠标悬停 */
a:hover {
    text-decoration: underline;color:#1f7b9b;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}

/* 代码字体 */
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/* 清理浮动 */
.clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.clear {
    zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .hide {
    display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fl,
.fr {
    display:inline;
}
.fl {
    float:left;
}
.fr {
    float:right;
}

/* 单行文字溢出时出现省略号，需设定宽度 */ 
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 人民币符号 */
.rmb {
    font-family: arial;
    font-style: normal;
}




/*fix*/

/*解决图片上/下有边界*/
img{vertical-align: top;}


/**
 * 解决按钮要比正常宽的bug
 */
button,input{
    overflow: visible;
}
textarea{
    resize:none;/*让其不可以改变大小*/
}



/*extend*/
/*常用*/
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt16{margin-top:16px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt26{margin-top:26px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}

.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt16{padding-top:16px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt26{padding-top:26px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}





/*定义小三角*/
.arrow{display:inline-block;border:5px dashed transparent;height: 0;width:0;overflow:hidden;}

/*文本方向*/
.tac{text-align:center;}
.tal{text-align:left;}
.tar{text-align:right;}



@charset "UTF-8";
/*头*/
.bar{
    min-width:1000px;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    background: #fff;

    position:relative;
    z-index:1000;
}

.bar-logo{
    background-color:#1f7b9b;
    color:#fff;
    font-size:22px;
    height:60px;
    line-height:60px;
    padding:0 16px;
}
.bar-logo a{
    color:#fff;
}
.bar-logo a:hover{
    text-decoration:none;
}
.bar-nav > li{
    padding-left:20px;
    position:relative;
    float:left;
}
.bar-nav > li:first-child{
    padding-left:0;
}
.bar-nav > li > a,
.bar-nav > li > span{
    height:56px;
    line-height:50px;
    display:block;
    padding:0 8px;
    font-size:16px;
    border-top:4px solid #fff;
}
.bar-nav > li > span{
    cursor:default;
}
.bar-nav > li > a:hover{
    text-decoration:none;
}
.bar-nav > li > .current{
    border-top-color:#1f7b9b;
}
.bar-nav-rss{
    overflow:hidden;
    height:30px;
    border-left:1px solid  #ccc;
    margin-top:12px;
}
.bar-nav-rss > a{
    height:20px;line-height:20px;
    color:#fff;
    background-color:#1f7b9b;
    font-size:14px;
    display:block;
    margin-top:6px;
    padding:0 10px;
    margin-left:26px;
}
.bar-nav-dropdown{
    position:absolute;
    left:-22px;top:50px;
    background-color:#fff;
    border:2px solid  #1f7b9b;
    width:130px;
    display:none;
}
.bar-nav-dropdown:after,
.bar-nav-dropdown:before{
    content:' ';
    position:absolute;
    border:10px dashed transparent;height: 0;width:0;overflow:hidden;
    left:50%;
    margin-left:-10px;
}
.bar-nav-dropdown:before{
    top:-20px;
    border-bottom:10px solid  #1f7b9b;
}
.bar-nav-dropdown:after{
    top:-17px;
    border-bottom:10px solid  #fff;
}
.bar-nav-dropdown > a{
    display:block;
    line-height:36px;
    padding-left:10px;
    position:relative;
    z-index:2;
}
.bar-nav-dropdown > a.current{
    background-color:#e8e8e8;
}
.bar-nav-dropdown > a:first-child.current:after{
    border:10px dashed transparent;height: 0;width:0;overflow:hidden;
    content:' ';
    display:block;position:absolute;left:50%;
    margin-left:-10px;top:-17px;
    border-bottom:10px solid  #e8e8e8;
}
/*滑过让下拉显示*/
.bar-nav > li:hover .bar-nav-dropdown{
display:block;
}
@charset "UTF-8";
/*page*/
.ui-page{line-height:22px;font-size:0;background-color:#fff;padding:10px;border:1px solid  #ddd;}
.ui-page a,.ui-page span{font-size:14px;margin-right:5px;padding:0 5px;display:inline-block;border:1px solid #dedede;vertical-align:top;}
.ui-page a:hover{background-color:#ccc;text-decoration:none;}
.ui-page .current{background-color:#ccc;border-color:#ccc;cursor:default;}
.ui-page .dot{border-width:0;cursor:default;}
.ui-page .disabled{background-color:#f0f0f0;color:#c0c0c0;border-color:#f0f0f0;cursor:default;}
.ui-page .button{width:60px;height:23px;}

@charset "UTF-8";
/**
 * 博客样式 - 底部
 */

.footer{
    padding-top:30px;color:#999;
}
.footer a{
    color:#999;
}
.footer a:hover{
    color:#1f7b9b;
}
.footer-inner{
    padding-top:20px;
    padding-bottom:10px;
    background-color:#fff;
    border-top:1px solid  #ddd;
}
.footer p{
    text-align:center;
}

/*markdown*/
.markdown-body {
    overflow:hidden;
    font-family:"Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size:16px;
    line-height:1.6;
    word-wrap:break-word
}
.markdown-body a{color: #4183c4;}
.markdown-body>*:first-child {
    margin-top:0 !important
}
.markdown-body>*:last-child {
    margin-bottom:0 !important
}


.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    position:relative;
    margin-top:1em;
    margin-bottom:16px;
    font-weight:bold;
    line-height:1.4
}
.markdown-body h1 {
    padding-bottom:0.3em;
    font-size:2.25em;
    line-height:1.2;
    border-bottom:1px solid #eee
}
.markdown-body h2 {
    padding-bottom:0.3em;
    font-size:1.75em;
    line-height:1.225;
    border-bottom:1px solid #eee
}
.markdown-body h3 {
    font-size:1.5em;
    line-height:1.43
}
.markdown-body h4 {
    font-size:1.25em
}
.markdown-body h5 {
    font-size:1em
}
.markdown-body h6 {
    font-size:1em;
    color:#777
}
.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre {
    margin-top:0;
    margin-bottom:16px
}
.markdown-body hr {
    height:4px;
    padding:0;
    margin:16px 0;
    background-color:#e7e7e7;
    border:0 none
}
.markdown-body ul, .markdown-body ol {
    padding-left:2em
}

.markdown-body ul ul, .markdown-body ul ol, .markdown-body ol ol, .markdown-body ol ul {
    margin-top:0;
    margin-bottom:0
}
.markdown-body ul{list-style-type: disc;}
.markdown-body ol{list-style-type: decimal;}
.markdown-body li>p {
    margin-top:16px
}
.markdown-body dl {
    padding:0
}
.markdown-body dl dt {
    padding:0;
    margin-top:16px;
    font-size:1em;
    font-style:italic;
    font-weight:bold
}
.markdown-body dl dd {
    padding:0 16px;
    margin-bottom:16px
}
.markdown-body blockquote {
    padding:0 15px;
    color:#777;
    border-left:4px solid #ddd
}
.markdown-body blockquote>:first-child {
    margin-top:0
}
.markdown-body blockquote>:last-child {
    margin-bottom:0
}
.markdown-body table {
    display:block;
    width:100%;
    overflow:auto;
    word-break:normal;
    word-break:keep-all
}
.markdown-body table th {
    font-weight:bold
}
.markdown-body table th, .markdown-body table td {
    padding:6px 13px;
    border:1px solid #ddd
}
.markdown-body table tr {
    background-color:#fff;
    border-top:1px solid #ccc
}
.markdown-body table tr:nth-child(2n) {
    background-color:#f8f8f8
}
.markdown-body img {
    max-width:100%;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

/*.markdown-body code,*/ .markdown-body tt {
    padding:0 2px;
    padding-top:0.2em;
    padding-bottom:0.2em;
    margin:0;
    font-size:85%;
    background-color:rgba(0, 0, 0, 0.1);
    border-radius:3px
}

.markdown-body code br, .markdown-body tt br {
    display:none
}
.markdown-body del code {
    text-decoration:inherit;
    vertical-align:text-top
}
/*.markdown-body pre>code {
    padding:0;
    margin:0;
    font-size:100%;
    word-break:normal;
    white-space:pre;
    background:transparent;
    border:0
}

.markdown-body pre {
    word-wrap:normal
}
.markdown-body pre code, .markdown-body pre tt {
    display:inline;
    max-width:initial;
    padding:0;
    margin:0;
    overflow:initial;
    line-height:inherit;
    word-wrap:normal;
    background-color:transparent;
    border:0
}

.markdown-body pre{border: 1px solid  #ccc;padding: 5px;border-radius:3px;background-color:rgba(0, 0, 0, 0.07);}
*/

/*fix*/
code{
    padding:0.2em 0.5em;
    margin:0;
    font-size:85%;
    background-color:rgba(0, 0, 0, 0.1);
    border-radius:3px;
}

pre > code{
    padding:0.5em;
    background:none;
    display:block;
}
pre{
    color:#fff;
    background-color:#000;
}
@charset "UTF-8";
/**
 * 博客样式
 */


.ui-empty{
    padding:10px;
    background-color:#fff;
    border:1px solid  #ddd;
}

.wrap{
    padding-top:20px;
}

html{
    overflow-x:hidden;min-width:1000px;
background-color:#e8e8e8;}
.w{
    width:1000px;
    margin-left:auto;margin-right:auto;
}


.main{
    width: 100%;
    float: left;
}
.main-inner{
    padding-right:280px;
}
.sidebar{
    float: left;
    width: 260px;
    margin-left:-260px;
}

/*文章列表*/
.article-list{
}
.article-list > li{
    margin-top:20px;
    background-color:#fff;
    border:1px solid #ddd;
    padding-bottom:10px;
}
.article-list > li:first-child{
    margin-top:0;
}
.article-list-title{
    height:50px;line-height:50px;
    font-size:20px;
    padding:0 10px;
    border-bottom:1px solid #e5e5e5;
    background-color:#f7f7f7;
}
.article-list-title:hover a{
    text-decoration:none;
}
.article-list-title-tool{
    float:right;
    font-size:12px;
}
.article-list-content{padding:10px;color:#424242;}
.article-list-more{
    height:28px;
}
.article-list-more > a {
    display:block;
    width:108px;text-align:center;
    background-color:#1f7b9b;
    color:#fff;
    height:28px;line-height:28px;
}
.article-list-more > a:hover{
    text-decoration:none;
    background-color:#3592b3;
}
.article-list-tool{
    height:22px;line-height:22px;
    text-align:right;color:#999;
}
.article-list-tool a{
    color:#999;
    text-decoration:underline;
}
.article-list-tool a:hover{
    color:#000;
}
.article-list-tool li{
    position:relative;
    float:left;
    padding:0 10px;
}
.article-list-tool li:after{
    content:' ';
    position:absolute;left:0;top:4px;
    height:14px;
    width:1px;background-color:#999;
    overflow:hidden;
}
.article-list-tool li:first-child:after{
    display:none;
}
.article-list-tool i{
    display:inline-block;
    vertical-align:-2px;margin-right:3px;
    overflow:hidden;
    background-repeat:no-repeat;
}
.article-list-tool-hit{
    width:16px;height:11px;
    background-image:url('./sprite/hit.png');
    vertical-align:0 !important;
}
.article-list-tool-time{
    width:13px;height:13px;
    background-image:url('./sprite/time.png');
}.article-list-tool-class{
    width:7px;height:13px;
    background-image:url('./sprite/class.png');
}.article-list-tool-tag{
    width:11px;height:11px;
    background-image:url('./sprite/tag.png');
}


/*详情页*/
.article-detail{
    background-color:#fff;
    border:1px solid #ddd;
    padding-bottom:10px;
}
.article-detail-title{
    height:50px;line-height:50px;
    font-size:20px;
    padding:0 10px;
    border-bottom:1px solid #e5e5e5;
    background-color:#f7f7f7;
}
.article-detail-title:hover a{
    text-decoration:none;
}
.article-detail-content{
    padding:10px;
}

/*详情的内容导航*/
.article-detail-sidebar{
    background-color:#fff;
    float:right;
    padding-left:20px;
    max-width:300px;
    position:relative;z-index:100;
}
.article-detail-sidebar > ul{
    margin-bottom:0;
    padding:10px;padding-left:2em;
    background-color:#f7f7f7;
    border:1px solid  #ddd;
}
.article-detail-sidebar .child{
    margin-left:15px;
}

/*详情分页*/
.article-detail .ui-page{
    border:none;
    padding:0;
    padding-bottom:10px;
    text-align:center;
}

/*详情页的上,下一个*/
.article-detail-nav{
    border:1px solid  #ddd;
    background-color:#fff;
    padding:10px;
}
.article-detail-nav a{
    text-decoration:underline;
}
/*标题的删除按钮*/
.article-detail-title-tool{
    float:right;
    font-size:12px;
}
/*详情页的评论*/
.article-detail-comment{
    border:1px solid  #ddd;
    padding:10px;
    background:#fff url('/res/img/loading-32-32.gif') center center no-repeat;
    min-height:100px;
}
.article-detail-comment .ds-thread{
    background-color:#fff;
}

/*侧边栏*/
.sidebar-box{
    background-color:#fff;
}

/*作者*/
.sidebar-author{
}
.sidebar-author .fl{
    width:100px;height:100px;
}
.sidebar-author img{width:100px;height:100px;display:block;
background:#f3f3f3 url('/res/img/loading-16-16.gif') center center no-repeat;}
.sidebar-author .fr{
    padding-top:10px;
    padding-right:6px;
    width:140px;
}
.sidebar-author .icons{
    vertical-align:-3px;
}
.sidebar-author h3{
    color:#000;font-weight:bold;
}
.sidebar-author p{
    padding-top:10px;
}


/*搜索栏*/
.sidebar-search-text{
    padding:9px;
    line-height:16px;
    height:16px;background-color:#fff;
    border:1px solid  #ccc;
    outline:none;width:168px;
    color:#999;
}
.sidebar-search-btn{
    background-color:#1f7b9b;
    color:#fff;width:62px;height:36px;line-height:36px;
    border:none;
    cursor:pointer;
}
.sidebar-search-text:focus{
    color:#333;
}
.sidebar-search-text:focus,
.sidebar-search-text:hover{
    border-color:#1f7b9b;
}

/*文章*/
.sidebar-article{
    border:1px solid  #ddd;
}
.sidebar-article dt{
    border-bottom:1px solid #ddd;
    font-weight:bold;
    padding-left:10px;
    background-color:#f5f5f5;
    height:36px;line-height:36px;font-size:16px;
}
.sidebar-article a{
    height:32px;line-height:32px;
    overflow:hidden;display:block;padding-left:10px;padding-right:6px;
    border-top:1px solid #ddd;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebar-article a:first-child{
    border-top:none;
}
.sidebar-article a:before{
    content:attr(data-hit);
    display:inline;
    float:right;
    padding-left:4px;color:#bbb;font-size:12px;
}


/*友情链接*/
.sidebar-links{
    border:1px solid  #ddd;
}
.sidebar-links dt{
    border-bottom:1px solid #ddd;
    font-weight:bold;
    padding-left:10px;
    background-color:#f5f5f5;
    height:36px;line-height:36px;font-size:16px;
}
.sidebar-links dd{
    font-size:0;
    padding:10px;
}
.sidebar-links a{
    display:inline-block;
    font-size:14px;
    margin-right:10px;
}


/*响应式*/
body.auto{
    padding:0 10px;
}
body.auto .w{
    width:auto;
}
body.auto .bar .w{
    padding:0 10px;
}



/*icons*/
.icons{
    display:inline-block;overflow:hidden;
}
.icon-github,
.icon-sina{
    width:16px;
    height:16px;
}
.icon-github{
    background-image:url('./sprite/github.png');
}
.icon-sina{
    background-image:url('./sprite/sina.png');
}



/*标签页*/
.tags{
    border:1px solid  #ddd;
    background-color:#fff;
    padding:20px;
    line-height:22px;
}
.tags-ul > li{
    padding-top:10px;
}
.tags-ul > li:first-child{
    padding-top:0;
}
.tags-ul a i{
    font-size:12px;color:#999;
}
/*.tags-ul > li{
    padding-top:10px;
}
.tags-ul > li:first-child{
    padding-top:0;
}
.tags-ul a{
    display:block;line-height:32px;height:32px;
    padding:0 10px;
    background-color:#f0f0f0;
    position:relative;
    color:#000;
}
.tags-ul a:hover{
    text-decoration:none;
    color:#000;
}
.tags-ul a i{
    font-size:12px;color:#999;
}
.tags-ul a span,
.tags-ul a i{
    position:relative;
    z-index:10;
}
.tags-ul a b{
    display:block;
    height:100%;
    background-color:#1f7b9b;
    z-index:9;
    top:0;
    left:0;position:absolute;
    width:0;
}
.tags-ul a b:after{
    display:block;
    content:' ';
    border:6px dashed transparent;height: 0;width:0;overflow:hidden;
    position:absolute;top:0;right:-12px;
    border-left:6px solid  #1f7b9b;
    top:50%;
    margin-top:-6px;
}*/



/*面包屑*/
.ui-crumbs{
    border:1px solid  #ddd;
    background-color:#fff;
    margin-bottom:20px;
    padding:10px;
}
.ui-crumbs a{
    text-decoration:underline;
}



/*出错页面*/
.mod-error,
.mod-success{
    border:1px solid  #ddd;
    background-color:#fff;
    padding:20px;
    color:#f00;
    font-size:16px;
}
.mod-success{
    color:#333;
}

.error_404{
    background-color:#fff;
    border:1px solid  #ddd;
    padding:20px;
}
.error_404 h1{
    font-size:18px;
}


/*返回顶*/
#J-goTop{
    width:50px;height:50px;
    position:fixed;right:20px;bottom:20px;
    overflow:hidden;
    text-indent:-999em;
}
#J-goTop > a{
    width:32px;height:15px;
    display:block;
    background-color:#1f7b9b;
    padding:17px 9px 18px;
}
#J-goTop > a:hover{
    opacity:0.5;
    filter: alpha(opacity=50);
}
#J-goTop i{
    display:block;
    width:32px;height:15px;
    background-image:url('./sprite/goTop.png');
}
